* {
  margin: 0;
  padding: 0;
}

.footer {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  padding: 5px;
  height: 5.5vh;
  width: 100%;
  background-color: #e8e8e8;
  align-items: center;
  justify-content: center;
  color: rgb(38, 38, 38);
  font-size: 2vh;
  position: fixed;
  bottom: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto;
  gap: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

figure {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  max-width: 500px;
  padding: 0 10px;
  border-radius: 10px;
}
